/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin        : 0;
    padding       : 0;
    border        : 0;
    font-size     : 100%;
    font          : inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing : 0;
}

/***/

body {
    font-size  : 16px;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    width : 1500px;
    margin: 0 auto;
}
/***header***/
.top-header {
    background-color: #0b0b0b;
}

.top-header h1 {
    color      : #fc464a;
    font-size  : 1.5rem;
    padding    : .75rem;
    font-weight: 700;
}

.top-nav,
.main-nav ul {
    display: flex;
}

.top-nav {
    justify-content: space-between;
}

.top-nav .main-nav ul li a {
    display        : inline-block;
    padding        : 1.125rem 0.75rem;
    color          : #ffff;
    text-decoration: none;
    text-transform : uppercase;
    font-weight    : 800;

}
/***banner***/
.carousel-image {
    background-image : url(../images/carousel-image.jpg);
    height           : 50rem;
    background-repeat: no-repeat;
}

.carousel-image .container {
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-size      : 1.875rem;
    text-transform : uppercase;
    color          : #fff;
    font-weight    : 900;
    padding-top    : 8rem;
    line-height    : 2rem;

}

.carousel-title :first-child {
    padding-left: 5rem;
}

.carousel-title span i {
    display        : flex;
    justify-content: center;
    padding-top    : 2rem;
}
/**content**/

.content .container{
    display:flex;
    
}
.content .container .tech-1,.tech-2,.tech-3,.tech-4{
     display:inline-block;
    flex-grow:1;
    
}
.tech-1,.tech-2,.tech-3,.tech-4{
    text-align: center;
}
