/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin        : 0;
    padding       : 0;
    border        : 0;
    font-size     : 100%;
    font          : inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing : 0;
}

/***/

body {
    font-size  : 16px;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    width : 1500px;
    margin: 0 auto;
}

/***header***/
.top-header {
    background-color: #0b0b0b;
}

.top-header h1 {
    color      : #fc464a;
    font-size  : 1.5rem;
    padding    : .75rem;
    font-weight: 700;
}

.top-nav,
.main-nav ul {
    display: flex;
}

.top-nav {
    justify-content: space-between;
}

.top-nav .main-nav ul li a {
    display        : inline-block;
    padding        : 1.125rem 0.75rem;
    color          : #ffff;
    text-decoration: none;
    text-transform : uppercase;
    font-weight    : 800;

}

/***banner***/
.carousel-image {
    background-image : url(../images/carousel-image.jpg);
    height           : 48rem;
    background-repeat: no-repeat;
}

.carousel-image .container {
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-size      : 1.875rem;
    text-transform : uppercase;
    color          : #fff;
    font-weight    : 900;
    padding-top    : 8rem;
    line-height    : 2rem;

}

.carousel-title :first-child {
    padding-left: 5rem;
}

.carousel-title span i {
    display        : flex;
    justify-content: center;
    padding-top    : 2rem;
    color          : #fc464a;
}

/**content**/
.content {
    background-color: #fc464a;

}

.content .container {
    display: flex;
}

.content .container .tech-1,
.tech-2,
.tech-3,
.tech-4 {
    display  :flexbox;
    flex-grow: 1;

}

.tech-1,
.tech-2,
.tech-3,
.tech-4 {
    text-align    : center;
    margin        : 3.75rem;
    color         : #fff;
    text-transform: capitalize;
    color         : #fa8283;
}

.content h3 {
    font-weight: 900;
    padding    : .625rem;
    color      : #fff;

}

.content span i {
    border-radius   : 50%;
    background-color: #fff;
    width           : 3.75rem;
    height          : 3.75rem;
    line-height     : 3.75rem;
    vertical-align  : center;
    text-align      : center;
    color           : #fc464a;
}

/***sub-content***/
.sub-content .description {
    text-align: center;
}

.description :first-child {
    font-weight   : 900;
    font-size     : 1.5rem;
    text-transform: capitalize;
    padding-top   : 1.125rem;
    color         : #0b0b0b;
}

.description :last-child {
    color         : #c9c9c9;
    text-transform: capitalize;
    padding       : 1rem;
}

.sub-content .main,
.side-bar {
    display: inline-flex;
    display: flex;
    height : 25rem;
    margin : 5rem;


}

.sub-content .main {
    width: 70rem;

}

.sub-content h4 {
    font-size     : 1.875rem;
    font-weight   : 900;
    text-transform: uppercase;

}

.sub-content p {
    line-height: 1.625rem;
    color      : #c9c9c9;
}

.clients {
    text-align: center;
}

.clients :first-child {
    text-align : center;
    font-size  : 2.5rem;
    font-weight: 900;
}

.clients img {
    display: flex;
    margin : 3.75rem;
    display: inline-flex;
}

/***portfolio***/

.portfolio {
    height          : 35rem;
    background-color: #fc464a;
    display         : flex;
}

.portfolio div {
    text-align: center;
    padding   :.938rem;
}

.portfolio div h4 {
    font-size     : 1.5625rem;
    font-weight   : 800;
    color         : #fff;
    text-transform: capitalize;
    padding-bottom: .313rem;
}

.portfolio div p {
    color         : #fa8283;
    text-transform: capitalize;
}

.port-images ul {
    flex-direction: row;
    display       : flex;
    flex-grow     : 10;

}

.port-images li {
    height: auto;
    width : 100%;
}

.port-images img {
    width  : 100%;
    display:block;
}

.list ul li {
    display       : flex;
    display       : inline-block;
    text-transform: uppercase;
    font-size     : .813rem;
}

.list ul li a {
    text-decoration: none;
    color          : #fa8283;
    justify-content: space-between;
}
/***bottom-content***/
.content-bot .container{
    display: flex;
    flex-grow:1;

}
 .content-bot .container > div{
    margin:.625rem;
    padding: 1.25rem;
    width:12.5rem;
    border:1px solid #c9c9c9;
 }
 