/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin        : 0;
    padding       : 0;
    border        : 0;
    font-size     : 100%;
    font          : inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing : 0;
}

/***/

body {
    font-size  : 1rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    width : 75rem;
    margin: 0 auto;
}

/***header***/
.top-header {
    background-color: #0b0b0b;
}

.top-header h1 {
    color      : #fc464a;
    font-size  : 1.5rem;
    padding    : .75rem;
    font-weight: 700;

}

.top-nav,
.main-nav ul {
    display: flex;
}

.top-nav {
    justify-content: space-between;
}

.top-nav .main-nav ul li a {
    display        : inline-block;
    padding        : 1.125rem 0.75rem;
    color          : #ffff;
    text-decoration: none;
    text-transform : uppercase;
    font-weight    : 800;

}

.main-nav ul li.active {
    border-bottom: 0.188rem solid #fc464a;
}

/***banner***/
.carousel-image {
    background-image : url(../images/carousel-image.jpg);
    height           : 48rem;
    background-repeat: no-repeat;
}

.carousel-image .container {
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-size      : 1.875rem;
    text-transform : uppercase;
    color          : #fff;
    font-weight    : 900;
    padding-top    : 8rem;
    line-height    : 2rem;

}

.carousel-title :first-child {
    padding-left: 5rem;
}

.carousel-title span i {
    display        : flex;
    justify-content: center;
    padding-top    : 2rem;
    color          : #fc464a;
}

/**content**/
.content {
    background-color: #fc464a;

}

.content .container {
    display: flex;
}

.content .container .tech-1,
.tech-2,
.tech-3,
.tech-4 {
    display  : flexbox;
    flex-grow: 1;

}

.tech-1,
.tech-2,
.tech-3,
.tech-4 {
    text-align    : center;
    margin        : 2.75rem;
    color         : #fff;
    text-transform: capitalize;
    color         : #fa8283;
}

.content h3 {
    font-weight: 900;
    padding    : .625rem;
    color      : #fff;

}

.content span i {
    border-radius   : 50%;
    background-color: #fff;
    width           : 3.75rem;
    height          : 3.75rem;
    line-height     : 3.75rem;
    vertical-align  : center;
    text-align      : center;
    color           : #fc464a;
}

/***sub-content***/
.sub-content .description {
    text-align: center;
}

.description :first-child {
    font-weight   : 900;
    font-size     : 1.5rem;
    text-transform: capitalize;
    padding-top   : 1.125rem;
    color         : #0b0b0b;
}

.description :last-child {
    color         : #4d4d4d;
    text-transform: capitalize;
    padding       : 1rem;
}

.sub-content .main,
.side-bar {
    display: inline-flex;
    display: flex;
    height : 25rem;
    margin : 3rem;


}


.sub-content h4 {
    font-size     : 1.875rem;
    font-weight   : 900;
    text-transform: uppercase;

}

.sub-content p {
    line-height: 1.625rem;
    color      : #4d4d4d;
}

.clients {
    text-align: center;
}

.clients :first-child {
    text-align : center;
    font-size  : 2.5rem;
    font-weight: 900;
}

.clients img {
    display: flex;
    margin : 1.75rem;
    display: inline-flex;
}

/***portfolio***/
.port-images {
    width          : 62.5rem;
    justify-content: center;
    margin-left    : 6.25rem;

}

.portfolio {
    height          : 35rem;
    background-color: #fc464a;
    display         : flex;
}

.portfolio div {
    text-align: center;
    padding   : .938rem;
}

.portfolio div h4 {
    font-size     : 1.5625rem;
    font-weight   : 800;
    color         : #fff;
    text-transform: capitalize;
    padding-bottom: .313rem;
}

.portfolio div p {
    color         : #fa8283;
    text-transform: capitalize;
}

.port-images ul {
    flex-direction: row;
    display       : flex;
    flex-grow     : 2;

}

.port-images li {
    height: auto;
    width : 100%;
}

.port-images img {
    width  : 100%;
    display: block;
}

.list ul li {
    display       : flex;
    display       : inline-block;
    text-transform: uppercase;
    font-size     : .813rem;
}

.list ul li a {
    text-decoration: none;
    color          : #fa8283;
}

/***bottom-content***/

.content-bot .container .main-description {
    display        : flex;
    justify-content: center;
}

.content-bot .main-cont {
    text-align: center;
    padding   : .625rem;

}

.content-bot .main-cont h4,
.team div h4 {
    font-weight: 900;
    font-size  : 1.563rem;
    padding    : .313rem;
}

.content-bot .main-cont p {
    color         : #4d4d4d;
    text-transform: capitalize;
}

.content-bot button {
    background-color: #fc464a;
    padding         : .5rem .938rem;
    margin          : 1.25rem 3.75rem;
    border          : .063rem solid #c9c9c9;
    border-radius   : .5rem;
    color           : #f9f9f9;
}

.content-bot li {
    list-style: none;
}



.content-bot li {
    border-bottom: .188rem solid #f9f9f9;
    text-align   : center;
    padding      : .625rem;

}

.content-bot h5 {
    background-color: #4d4d4d;
    padding         : .625rem;
    width           : 11.25rem;
    text-align      : center;
    color           : #fff;
    font-size       : 1.25rem;
    text-transform  : capitalize;
}

.two {
    width : 15.265rem;
    height: 23.125rem;
    margin: 1.875rem 0.313rem;
    border: 0.063rem solid #c9c9c9;
}

.two h5 {
    width: 14.375rem;
}

.one,
.three,
.four {
    width         : 12.5rem;
    height        : 20rem;
    border        : 0.063rem solid #c9c9c9;
    margin        : 2.813rem 0.313rem;
    padding-bottom: .938rem;
}

.team div {
    text-align: center;
    padding   : 0.313rem;
}


.team .team-images {
    display        : flex;
    justify-content: center;
}

.team-1 {
    margin: 15px;
}

.team-1 h6 {
    font-weight   : 900;
    padding       : 0.313rem;
    text-transform: capitalize;

}

.team-1 p {
    color         : #c9c9c9;
    font-size     : .75rem;
    text-transform: capitalize;
}

/***footer***/
footer {
    background-image: url(../images/footer-image2.jpg);
    height          : 25rem;
}

footer form {
    margin-left: 18.75rem;
    padding-top: 3.75rem;
}

footer .top-footer {
    color      : #fff;
    text-align : center;
    font-weight: 900;
}

.top-footer :first-child {
    font-size     : 1.25rem;
    text-transform: capitalize;
    padding       : 0.625rem;
}

#fname {
    color         : #c9c9c9;
    width         : 36.25rem;
    height        : 1.25rem;
    text-transform: capitalize;
    font-size     : 0.625rem;

}

form {
    padding-bottom: 30px;
}

form p {
    color         : #fff;
    font-weight   : 600;
    text-transform: capitalize;
    font-size     : 0.6875rem;
    padding       : 0.313rem;
}

form button {
    background-color: #fc464a;
    margin          : 0.313rem 0.125rem;
    border          : none;
    padding         : 0.313rem 0.938rem;
    color           : #fff;
}

#m-name {
    width : 36.25rem;
    height: 5rem;
    color : #c9c9c9;
}

.footer-mid {
    background-color: #fff;
    height          : 5rem;

}

.icons {
    padding   : 1.25rem 0;
    text-align: center;
}

.footer-mid i {
    color     : #fc464a;
    text-align: center;
    padding   : .625rem;
}

.footer-bot {
    background-color: #141414;
    height          : 2.5rem;
    color           : #4d4d4d;
    font-size       : .688rem;
}

.footer-bot p {
    padding   : 0.625rem 0;
    text-align: center;
}